body {
    padding: 0;
    margin: 0;
}

/* grid container */
.holy-grail {
    display:grid;
    grid-template-areas:
        'header'
        'main'
        'left'
        'right'
        'footer';
    width: 100%;
    height: 100%;
}

/* general column padding */
.header, .main, .left, .right, .footer {
    padding: 1rem;
}

/* assign columns to grid areas */
.holy-grail > .header {
    grid-area:header;
    background:#f97171;
}
.holy-grail > .main {
    grid-area:main;
    background:#fff;
}
.holy-grail > .left {
    grid-area:left;
    background:#f5d55f;
}
.holy-grail > .right {
    grid-area:right;
    background:#c5ed77;
}
.holy-grail > .footer {
    grid-area:footer;
    background:#72c2f1;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .holy-grail {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'header header'
            'main main'
            'left right'
            'footer footer';
    }
}

/* desktop breakpoint */
@media (min-width:1024px) {
    body {
        height: 100vh;
        width: 100vw;
    }
    .holy-grail {
        grid-template-columns: min-content 2fr 2fr min-content;
        grid-template-rows: min-content auto min-content;
        grid-template-areas:
            'header header header header'
            'left main main right'
            'footer footer footer footer';
        /* NOTE: animating from min/max-content to -fr causes
         * weird jumps in the animation so to keep things smooth
         * I only animation lengths using fr.
         */
        transition: 300ms ease-in-out;
    }
    .sidebar-content {
        transition: 300ms ease-in-out;
        width: 100px;
        height: 100%;
        overflow: hidden;
    }
    .sidebar-content:hover, .sidebar-content:active, .sidebar-content:focus-within {
        width: 320px;
        overflow: auto;
        background-color: #72c2f1;
    }
}
